participant_id       = "p01"
participant_number   = 1
proxmox_api_url      = "https://10.0.50.20:8006/api2/json"
proxmox_user         = "terraform-prov@pve"
proxmox_password     = "Start123$"
proxmox_tls_insecure = true

proxmox_node_name    = "pve"
datastore_id         = "local-lvm"
network_bridge       = "vmbr0"
template_vm_id       = 902
environment          = "dev"
base_vm_name         = "iac-workshop"
vm_id_base           = 8000
vm_cpus              = 2
vm_memory_mb         = 4096
vm_disk_gb           = 100
data_disk_gb         = 80
ci_username          = "ubuntu"
nameserver           = "10.0.50.10"
ipv4_subnet_prefix   = "10.0.50"
ipv4_host_offset     = 0
ipv4_prefix_length   = 24
ipv4_gateway         = "10.0.50.1"
